@import "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:700&amp;subset=latin-ext";

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 700;
    font-family: "Saira Extra Condensed", Arial, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
}